{% extends 'base.html' %}

{% block title %}Home | ElectroStore{% endblock %}

{% block content %}

<div class="bg-dark text-white p-5 rounded mb-4">
    <h1>Latest Electronics & Gadgets</h1>
    <p>Discover top deals on mobiles, laptops and accessories</p>
</div>

<h2 class="mb-4">Latest Products</h2>

<div class="row">

    {% for product in products %}
    <div class="col-md-3 mb-4">
        <div class="card h-100 shadow-sm border-0">
            <img src="{{ product.image.url }}" class="card-img-top" style="height:200px; object-fit:cover;" alt="{{ product.name }}">

            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="text-muted">{{ product.brand }}</p>
                <p class="fw-bold text-success">&#8377;{{ product.price }}</p>
                <p class="mb-1">
    ⭐ {{ product.avg_rating|floatformat:1 }} ({{ product.review_count }})
</p>
                <div class="star-rating">
                    {% for i in "12345" %}
                        {% if forloop.counter <= product.avg_rating|default:0 %}
                            &#9733;
                        {% else %}
                            &#9734;
                        {% endif %}
                    {% endfor %}
                </div>

                <a href="{% url 'product_detail' product.id %}" class="btn btn-dark btn-sm">
                    View Details
                </a>
            </div>

        </div>
    </div>

    {% empty %}
    <p class="text-muted">No products available</p>

    {% endfor %}

</div>

{% endblock %}
