{% extends 'base.html' %}

{% block content %}

<h2>My Orders</h2>

<table class="table">
    <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>Status</th>
        <th>Date</th>
    </tr>

    {% for order in orders %}
    <tr>
        <td>{{ order.product.name }}</td>
        <td>{{ order.quantity }}</td>
        <td>₹{{ order.total_price }}</td>
        <td>
            <span class="badge bg-info">{{ order.status }}</span>
        </td>
        <td>{{ order.order_date }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="5">No orders yet</td>
    </tr>
    {% endfor %}

</table>

{% endblock %}