{% extends 'base.html' %}

{% block content %}

<h2>Your Wishlist</h2>

<div class="row">

    {% for item in items %}
    <div class="col-md-3 mb-4">
        <div class="card">

            <img src="{{ item.product.image.url }}" class="card-img-top" style="height:200px; object-fit:cover;">

            <div class="card-body">
                <h5>{{ item.product.name }}</h5>
                <p>₹{{ item.product.price }}</p>

                <a href="{% url 'product_detail' item.product.id %}" class="btn btn-dark btn-sm">View</a>

                <form method="POST" action="{% url 'remove_wishlist' item.product.id %}" class="mt-2">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                </form>
            </div>

        </div>
    </div>
    {% empty %}
    <p>No items in wishlist</p>
    {% endfor %}

</div>

{% endblock %}
